@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-400: #94a3b8;
  --slate-900: #0f172a;
}
body,
html {
  @apply scroll-smooth bg-slate-900 text-slate-300;
}

html {
  @apply snap-y snap-mandatory;
  overflow: overlay;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--slate-400);
  border: 6px solid rgba(15, 23, 42, 1);
  border-radius: 8px;
}
