@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-400: #94a3b8;
  --slate-900: #0f172a;
}
body,
html,
#root {
  @apply h-full w-full scroll-smooth bg-slate-900;
}

html {
  overflow: overlay;
  scrollbar-color: var(--slate-400) var(--slate-900);
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--slate-400);
  border: 6px solid rgba(15, 23, 42, 1);
  border-radius: 8px;
}
